body {
  background-color: #FFF5ED;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
  padding: 70px;
}

h1 {
	color: #D67C00;
	font-size:45px;
	text-align: center;
} 
			
p {
	padding: 50px;
	clear: both;
	text-align: center;
}

.header {
  width: 350px;
  margin: 0 auto;
}

#centering_wrapper {
    width: 1040px;
    margin: 0 auto;
	
}

.photos img {
	float: left;
	width: 500px;
	padding: 10px;

}

